@import url('https://fonts.googleapis.com/css?family=Acme');

body{
    background: orangered;
    overflow: hidden;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.section{
    position: absolute;
    border-radius: 20px;
    height: 96vh;
    width:97%;
    margin: 2vh 1.5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(180, 0, 0);
}

#one{
    /* height: 96vh;
    width:97%; */
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section1{
    /* background-color: blue; */
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

.pic-container{
    /* background-color: red; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-container img{
    width:600px;
}

.pic-text{
    /* background-color: orange; */
    color:red;
    font-weight: 900;
    height: 30%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
}

.pic-text div{
    font-size: 32px;
    width: 70%;
    text-align: center;
}

#two{
    left:100%;
}

#three{
    left:200%;
}

#four{
    left:300%;
}

a{
    text-decoration: none;
}

.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin:20px; */
}

.inspiration-img{
    width:300px;
    height: 250px;
    transform:translate(-30%,0);
    opacity:0;
    animation: slide-right 0.5s linear 1s forwards;
}

@keyframes slide-right{
    to{
        transform:translate(0,0);
        opacity: 1;
    }
}

.inspiration-text{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    transform: translate(10%,0);
    opacity: 0;
    text-align: center;
    color:orangered;
    animation: slide-left 0.5s linear 1s forwards
    /* background-color: rgba(255, 136, 0, 0.89); */
}

@keyframes slide-left{
    to{
        transform:translate(0,0);
        opacity: 1;
    }
}

.heading{
    width:100%;
    height: 20%;
    font-size: 72px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper{
    font-size: 28px;
    width:100%;
    /* background-color: red; */
    height: 60%;
    display:flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-evenly;
    /* align-content: center; */
}

.content{
    height: 100%;
    width:80%;
    display:flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: space-evenly;
}

.left{
    height: 100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-30%,0);
    opacity:0;
    animation: move-content-right 0.5s ease-in-out 1 forwards;
}

.right{
    height: 100%;
    width:50%;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.right img{
    width:70%;
    height: 70%;
    transform: translate(30%,0);
    opacity:0;
    animation: move-content-left 0.5s ease-in-out 1 forwards;
}

.content-item{
    display:flex;
    justify-content: space-between;
}

.item1{
    animation: zoom-in-out 0.5s linear 1s;
}

.item2{
    animation: zoom-in-out 0.5s linear 2s;
}

.item3{
    animation: zoom-in-out 0.5s linear 3s;
}

.item4{
    animation: zoom-in-out 0.5s linear 4s;
}

.item1 .tick img{
    animation:tickImg 0.5s linear 1s forwards;
}

.item2 .tick img{
    animation:tickImg 0.5s linear 2s forwards;
}

.item3 .tick img{
    animation:tickImg 0.5s linear 3s forwards;
}

.item4 .tick img{
    animation:tickImg 0.5s linear 4s forwards;
}


@keyframes zoom-in-out{
    0%{
        transform: translate(0,0) scale(1);
    }
    50%{
        transform: translate(5%,0) scale(1.2);
    }
    100%{
        transform:translate(0,0) scale(1);
    }
}

@keyframes move-content-right{
    to{
        transform:translate(0,0);
        opacity: 1;
    }
}

@keyframes move-content-left{
    to{
        transform:translate(0,0);
        opacity: 1;
    }
}

.tick img{
    width: 50px;
    padding:0 10px;
    opacity:0;
}

@keyframes tickImg{
    to{
        opacity: 1;
    }
}

.navIcons{
    position: fixed;
    width:20%;
    display:flex;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
    top:94vh;
    justify-content: space-evenly;
    /* margin:0 auto; */
}

.navIcons .icons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    background-color:orangered;
    border-radius: 50%;
    color:white;
    transition: all 0.2s;
}

.navIcons .icons:hover{
    background-color: orange;
    transform:scale(1.3);
}

.intro{
    background-color:#111111;
    display: flex;
    width:100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}

.intro div{
    font-family: 'acme';
    font-size: 96px;   
    padding:20px 0;
}

.div1{
    color:red;
    transform:translate(-160%,0);
    animation: moveRight 3s cubic-bezier(0,1,1,0) 1s forwards;
}

@keyframes moveRight{
    from{
        transform:translate(-160%,0);
    }
    to{
        transform:translate(160%,0);
    }
}

.div2{
    color:orangered;
    transform:translate(280%,0);
    animation: moveLeft 3s cubic-bezier(0,1,1,0) 1s forwards;
}

@keyframes moveLeft{
    from{
        transform:translate(280%,0);
    }
    to{
        transform:translate(-280%,0);
    }
}

.div3{
    color:white;
    opacity:0;
    animation:fadeInOut 3s cubic-bezier(0,1,1,0) 1s forwards;
}

@keyframes fadeInOut{
    10%{
        opacity: 0;
    }
    20%{
        opacity:1;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.main-body{
    display: none;
}
