body{
    background: orangered;
    overflow: hidden;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.section{
    position: absolute;
    border-radius: 20px;
    height: 96vh;
    width:97%;
    margin: 2vh 1.5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(180, 0, 0);
}

#one{
    /* height: 96vh;
    width:97%; */
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section1{
    /* background-color: blue; */
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

.pic-container{
    /* background-color: red; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-container img{
    width:600px;
}

.pic-text{
    /* background-color: orange; */
    color:red;
    font-weight: 900;
    height: 30%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
}

.pic-text div{
    font-size: 32px;
    width: 70%;
    text-align: center;
}

#two{
    left:100%;
}

#three{
    left:200%;
}

#four{
    left:300%;
}

a{
    text-decoration: none;
}

.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin:20px; */
}

.inspiration-img{
    width:300px;
    height: 250px;
}

.inspiration-text{
    display:flex;
    justify-content: center;
    align-items: center;
    width:900px;
    text-align: center;
    color:orangered;
    /* background-color: rgba(255, 136, 0, 0.89); */
}

.heading{
    width:100%;
    height: 20%;
    font-size: 72px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper{
    font-size: 28px;
    width:100%;
    /* background-color: red; */
    height: 60%;
    display:flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-evenly;
    /* align-content: center; */
}

.content{
    height: 100%;
    width:80%;
    display:flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: space-evenly;
}

.left{
    height: 100%;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right{
    height: 100%;
    width:50%;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.right img{
    width:70%;
    height: 70%;
}

.content-item{
    display:flex;
    justify-content: space-between;
}

.tick img{
    width: 50px;
}

.navIcons{
    position: fixed;
    width:20%;
    display:flex;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
    top:94vh;
    justify-content: space-evenly;
    /* margin:0 auto; */
}

.navIcons .icons{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    background-color:orangered;
    border-radius: 50%;
    color:white;
    transition: all 0.2s;
}

.navIcons .icons:hover{
    background-color: orange;
    transform:scale(1.3);
}

